#DisplayText {
    position: absolute;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    top: 50px;
}

.SideBar {
    width: 134px;
    height: 700px;
    float: left;
}

.SideBar > div
{
    width: 134px;
    margin-bottom: 10px;
}

.SideBar select
{
    width: 100%;
}

.SideBar input {
    width: 100%;
}

.SideBar input {
    width: 100%;
}

    .SideBar h3 {
        width: 100%;
        padding: 0;
        margin: 0;
        padding-left: 5px;
        border-bottom: 1px solid black;
    }

canvas
{
    float:left;
}

.ObjectList 
{
    /*border: 1px solid black;*/
    height: 150px;
    overflow-y: scroll;
}

.ObjectList div {
    width: auto;
    padding-left: 5px;
    /*background-color: darkgray;*/
    /*color: white;*/
    /*border: ridge 4px gray;*/
    border-bottom: 1px dashed black;
    cursor: pointer;
}